/*
*
*   Global variables
*
*/

/*  Colores  */
$White: #fff;
$Black: #000;
$First-color: #dd1936;
$light: #AFA5D9;
$Gray: #a8a4a4;
$Popin-color: #313131;
$Resource-color: #efefef; 
$Card-color: #313131;
$main-bg: #efefef;
$dash-bg: #f1f1f1;

// Dashboard :
$header-height: 48px;
$nav-width: 68px;