/*
*
*   page : Actualiter
* 
*/

@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../components/Button';


.Actualités {
    height: auto;
    width: 100%;
    background-color: $White;
    color: $Black;
    margin-block: 50px;
    .content {
        @include container;
        color: $Black;
        height: 100%;
        padding: 20px;
        .text {
            margin-block-end: 30px;
            text-align: center;
            h1 {
                font-size: 30px;
                font-weight: 900;
                font-style: normal;
                font-variant: normal;
                letter-spacing: 0.1px;
                line-height: normal;
                text-transform: uppercase;
            }
            p {
                font-size: 16px;
                font-weight: 700;
                font-style: normal;
                font-variant: normal;
                line-height: normal;
                text-transform: lowercase;
                color: $Gray;
                margin-block: 15px;
            }
            h4 {
                font-size: 20px;
                font-weight: 900;
                font-style: normal;
                font-variant: normal;
                letter-spacing: 0.1px;
                line-height: normal;
                text-transform: uppercase;
                color: $First-color;
                margin-block: 20px;
            }
            .parag {
                max-width: 700px;
                margin: 0 auto;
                margin-block-end: 50px;
                text-align: justify;
                font-size: 16px;
                font-style: normal;
                font-variant: normal;
                line-height: normal;
                text-transform: lowercase;
            }
            .img-control {
                max-width: 400px;
                margin: 0 auto;
                height: auto;
                img {
                    @include img-fluid;
                }
            }
        }
    }
}



/*
*
*   Media Query : 
*
*/
@include large {
    .Actualités {
        margin-block: 40px;
        .content {
            padding: 20px;
            .text {
                margin-block-end: 25px;
                h1 {
                    font-size: 25px;
                }
                p {
                    font-size: 14px;
                    margin-block: 10px;
                }
                h4 {
                    font-size: 18px;
                    margin-block: 15px;
                }
                .parag {
                    max-width: 90%;
                    margin-block-end: 30px;
                    font-size: 14px;
                }
                .img-control {
                    max-width: 300px;
                }
            }
        }
    }
}

@include meduim {
    .Actualités {
        margin-block: 30px;
        .content {
            padding: 10px;
            .text {
                margin-block-end: 20px;
                h1 {
                    font-size: 20px;
                }
                p {
                    font-size: 12px;
                    margin-block: 10px;
                }
                h4 {
                    font-size: 14px;
                    margin-block: 10px;
                }
                .parag {
                    max-width: 95%;
                    margin-block-end: 20px;
                    font-size: 12px;
                }
                .img-control {
                    max-width: 200px;
                }
            }
        }
    }
}

@include x-small {
    .Actualités {
        margin-block: 20px;
        .content {
            padding: 5px;
            .text {
                margin-block-end: 10px;
                h1 {
                    font-size: 16px;
                }
                p {
                    font-size: 10px;
                    margin-block: 10px;
                }
                h4 {
                    font-size: 12px;
                }
                .parag {
                    max-width: 95%;
                    margin-block-end: 15px;
                    font-size: 10px;
                }
                .img-control {
                    max-width: 100px;
                }
            }
        }
    }
}